body{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.container{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:440px;
    max-height:440px;
    margin:auto;
    
    
}
.text{
    font-family: 'Courier New';
    font-size: larger;
}
.reset{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    background-color: aqua;
    border-radius: 10px;
    height:32px;
}